:root {
  --fontScalerFactor: 1.05; /* Adjust font scaling */
  --primary-color: #2c2b2b; /* Dark gray for main text */
  --secondary-color: #363535; /* Lighter gray for secondary text */
  --border-color: #464444; /* Soft gray for borders */
  --background-color: #fff; /* White background */
  --accent-color: #11222e;
}

* {
  margin: 0;
  padding: 0.5;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 1.5px;
  padding: 0.5;
}

.container {
  max-width: 900px;
  margin: 0px auto;
  background: var(--background-color);
  padding: 2.58px 15.45px;
}

header {
  text-align: center;
  padding: 10.3px;
  background-color: var(--background-color);
  border-bottom: 1.29px solid var(--accent-color);
  margin-top: 0;
}

header h1 {
  font-size: calc(1.95em * var(--fontScalerFactor));
  margin-bottom: 1.245px;
  margin-top: 0;
  color: var(--primary-color);
}

.contact span,
.contact a {
  margin: 2.06px;
  font-size: calc(0.879em * var(--fontScalerFactor));
  color: var(--primary-color);
}

.contact a {
  text-decoration: none;
  color: var(--primary-color);
}

.contact a:hover {
  color: var(--accent-color);
}

section h2 {
  margin-top: 7.73px;
  margin-bottom: 7.73px;
  border-bottom: 1.03px solid var(--border-color);
  padding-bottom: 1.1px;
  color: var(--primary-color);
  font-size: calc(1.25em * var(--fontScalerFactor));
  padding-left: 0.5px;
}

.job,
.edu,
.project {
  margin-bottom: 5.15px;
}

.job h3,
.edu h3 {
  color: var(--primary-color);
  font-size: calc(0.879em * var(--fontScalerFactor));
}

.duration {
  color: var(--secondary-color);
  font-size: calc(0.738em * var(--fontScalerFactor));
}

.job h4 {
  font-size: calc(0.75em * var(--fontScalerFactor));
  color: var(--primary-color);
  margin-bottom: 1.25px;
}

ul {
  list-style-type: none;
  padding-left: 10.45px;
  margin-bottom: 1.58px;
}

ul li {
  position: relative;
  padding-left: 10.45px;
  margin-bottom: 2.09px;
  font-size: calc(0.825em * var(--fontScalerFactor));
}

ul li::before {
  content: "•";
  color: var(--accent-color);
  position: absolute;
  left: 0;
}

.skills strong {
  color: var(--primary-color);
}

.projects h3 {
  font-size: calc(0.738em * var(--fontScalerFactor));
  color: var(--primary-color);
}

.achievements li {
  color: var(--primary-color);
}

@media (max-width: 824px) {
  .container {
    padding: 7.41px;
  }
  header h1 {
    font-size: calc(1.65em * var(--fontScalerFactor));
  }
  section h2 {
    font-size: calc(1.017em * var(--fontScalerFactor));
  }
  .job h3,
  .edu h3,
  .project h3 {
    font-size: calc(0.75em * var(--fontScalerFactor));
  }
  .job h4 {
    font-size: calc(0.782em * var(--fontScalerFactor));
  }
}

.experience-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: calc(1.232em * var(--fontScalerFactor));
}

.duration {
  font-size: calc(11.68px * var(--fontScalerFactor));
  color: var(--secondary-color);
}

.institution {
  font-size: calc(0.921em * var(--fontScalerFactor));
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.project a {
  color: var(--primary-color);
}

.links {
  font-size: calc(0.707em * var(--fontScalerFactor));
}

.video-demo {
  color: #0066cc;
  text-decoration: none;
}

.github-repo {
  color: #0066cc;
  text-decoration: none;
}
.blue-link {
  color: blue;
}
